name: User Service CI

on:
  pull_request:
    branches:
      - master
    paths:
      - "services/user-service/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: "17"

      - name: Build and test User Service
        working-directory: services/user-service
        run: |
          mvn clean verify
